.idea/*
__pycache__/*
venv/*
nenv/*


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
vue_sampl/node_modules
vue_sampl/.pnp
vue_sampl/.pnp.js

# testing
vue_sampl/coverage

# production
vue_sampl/build

# misc
vue_sampl/.DS_Store
vue_sampl/.env.local
vue_sampl/.env.development.local
vue_sampl/.env.test.local
vue_sampl/.env.production.local

vue_sampl/npm-debug.log*
vue_sampl/yarn-debug.log*
vue_sampl/yarn-error.log*
